.img {
    width: 150px;
    height: 150px;
}

.user {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.user_name{
    width: 300px;
    border: #afe6c3 solid 1px;
    border-radius: 10px;
    text-align: center;
}

.button_block {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.button {
    margin: 10px;
    background: linear-gradient(to left,rgba(54,194,182,0.96) 0,rgba(62,188,207,0.96) 100%);
    border-radius: 50px;
    border-width: 0;
    box-shadow: rgba(25, 25, 25, .04) 0 0 1px 0, rgba(0, 0, 0, .1) 0 3px 4px 0;
    color: #02023b;
    cursor: pointer;
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 1em;
    height: 30px;
    padding: 0 25px;
    transition: all 200ms;
}

.button:hover {background-color: #afe6c3;
    transform: scale(1.05);
}

.button_active {
    background: linear-gradient(to left,rgba(54,194,182,0.96) 0,rgba(62,188,207,0.96) 100%);
    border-radius: 50px;
    border-width: 0;
    box-shadow: rgba(25, 25, 25, .04) 0 0 1px 0, rgba(0, 0, 0, .1) 0 3px 4px 0;
    color: #0a0ae7;
    cursor: pointer;
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 1em;
    height: 40px;
    padding: 0 25px;
    transition: all 200ms;
}
.preloader{

    position: absolute;
}