.content {
    margin: 10px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
}

.img{
    border-radius: 10px;
    border: black solid 1px;
    height: 130px;
    width: 130px;
}
input[type="file"] {
    display: none;
}

